@import "variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/labels";

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(48, 48, 48);
}

body {
  -webkit-overflow-scrolling: touch;
}

#root {
  min-height: 100%
}

code {
  &.ecuid,
  &.bin,
  &.hex,
  &.ascii,
  &.time,
  &.counter {
    display: inline-block;
    text-transform: uppercase;
    background-color: transparent;
    //background-color: #424242;

    & ~ & {
      margin-left: 5px;
    }

    &.highlighted {
      color: #B71C1C;
    }

    &.bit-highlighted {
      color: #8BC34A;
    }

    &.byte-selected {
      background: #444;
    }
  }

  &.bin,
  &.hex,
  &.ascii {
    color: #FAFAFA;
  }

  &.ecuid {
    color: #F5F5F5;
  }

  &.time {
    color: #F5F5F5;
  }

  &.counter {
    color: #FFE57F;
  }

}

.byte-selected {
  background: #444;
}

.live-view {
  $container-padding: 5px;
  .header {
    padding: $container-padding;
    span {
      &.bin,
      &.time,
      &.ecuid,
      &.data,
      &.ascii,
      &.counter {
        font-weight: bold;
      }
    }
  }
  .message {
    .rc-swipeout-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    line-height: 2em;
    padding: $container-padding 0;
    ~ .message {
      border-top: 1px solid #EEE;
    }
  }

  span {
    &.time {
      text-align: right;
      min-width: 4em;
      padding: 0 10px 0 0;
    }
    &.ecuid {
      max-width: 4em;
      text-align: left;
    }
    &.data {
      text-align: left;
      flex: 0 1 auto;
      min-width: 23em;
      padding: 0;
    }
    &.ascii {
      text-align: left;
      flex: 0 1 auto;
      min-width: 11em;
      padding: 0;
    }
    &.counter {
      flex: 0 1 auto;
      min-width: 6em;
      padding: 0;
    }
  }

  code {
    text-align: center;
    &.ecuid {
      font-size: 22px;
      line-height: 28px;
    }
    &.bin,
    &.hex {
      font-size: 22px;
      line-height: 28px;
    }
    &.ascii {
      padding: 0;
      ~ .ascii {
        margin: 0 2px;
      }
    }
  }
}

.case-wrapper {
  display: inline-block;
  ~ .case-wrapper {
    margin-left: .5em;
  }
}

.case {
  ~ .case {
    margin-left: .5em;
  }
}

.pointer:hover {
  cursor: pointer;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
  &.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }
}